{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,  
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": false,
  "semicolons": false,
  "quotes": true,
  "vueIndentScriptAndStyle": true,
  "requirePragma": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore"
}
